/* Reset e Configurações Básicas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

header {
    background-color: #04B2D9;
    width: 100vw; /*Largura ocupado todo campo, mesmo fora do container*/
    margin: 0;
    padding: 0;
    position: relative;
}

/* menu de navegação */
#navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #04B2D9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    z-index: 3;
}

#navbar:hover {
    background-color: #04B2D9;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

#nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-item a {
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nav-item a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #00b3e6;
    transition: width 0.4s ease;
    border-radius: 5px;
}

.nav-item a:hover {
    color: #ffca28;
    transform: translateY(-3px);
}

.nav-item a:hover::before {
    width: 100%;
}

.dropdown {
    position: relative;
    z-index: 3;
}

.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 3;
}

.dropdown-menu {
    z-index: 3;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    list-style: none;
    padding: 1rem 0;
    margin: 0;
}

.dropdown-menu li a {
    z-index: 3;
    color: #0a1d2e;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    display: block;
    transition: all 0.3s ease;
}

.dropdown-menu li a:hover {
    background-color: #00b3e6;
    color: #fff;
    z-index: 3;
}

.dropdown-menu li a:hover {
    z-index: 3;
    transform: translateX(5px);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
}

/* Início */
#inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 4rem 2rem;
    font-family: "Montserrat", serif;
    z-index: 1;
    /* conteúdo acima da imagem*/
}

/* Carrossel */
#carousel-container {
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    /* escondendo imagem pra não ultrapassar limite */
    height: 60vh;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    align-items: center;
}

.carousel-item {
    width: 100%;
    flex-shrink: 0;
    /* evitar que os itens encolham */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* garante que as imagens ocupem toda a altura do carrossel */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    z-index: 10;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#titulo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    max-width: 100%;
    animation: fadeInUp 1s ease-out;
    gap: 1rem;
}

#titulo h1,
#titulo h2,
#titulo h3 {
    margin: 0;
    text-align: center;
}

#titulo h2 {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    color: #ffffff;
    background-color: #25D366;
    border-radius: 5px;
    animation: textGlow 3s ease-in-out infinite;
    /* efeito de brilho */
    font-weight: bold;
    text-align: center;
    max-width: 80%;
    /* limitando a largura para forçar a qubra do texto */
    white-space: normal;
    /* texto quebrando em várias linhas */
    line-height: 1.5;
    /* espaçamento entre as linhas */
    margin: 0 auto;
    /* centraliza o texto quebrado*/
    padding: 0.4rem 1rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

#titulo h3 {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #ffca28;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    animation: bounceIn 1.8s ease-out;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#titulo h3:hover {
    background-color: #ffca28;
    transform: scale(1.05);
}

.cta-button {
    display: inline-block;
    background-color: #11b642;
    color: #ffffff;
    font-weight: bold;
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cta-button:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

/* Animações */

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.9) translateY(-50px);
    }

    60% {
        opacity: 1;
        transform: scale(1.1) translateY(15px);
    }

    80% {
        transform: scale(0.95) translateY(-10px);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

/* Indicadores de navegação */
#carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
}

#carousel-indicators .dot {
    /* sinaliza indicador de navegação do carrossel*/
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#carousel-indicators .dot.active {
    background-color: #fff;
}

/* Seção de informações gerais */
.info-n1 {
    background-color: #f5f5f5;
    padding: 4rem 2rem;
    color: #333;
    margin: 3rem auto;
    max-width: 1200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    text-align: left;
}

.info-content img {
    width: 40%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-content .info-text {
    flex: 1;
}

.info-content .info-text h2 {
    font-size: 2.8rem;
    color: #079dbe;
    margin-bottom: 1.5rem;
    text-align: left;
}

.info-content .info-text p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
    text-align: justify;
}
/* Estilo para alinhar o vídeo e a seção de infraestrutura */
.content-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
    
}

/* Estilo do vídeo */
.video-container {
    flex: 1 1 65%;
    max-width: 100%;
    text-align: center;
}

.video-container iframe {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* container para separar os dois quadrados amarelos*/
.info-grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
}

/* Estilo dos blocos de infraestrutura */
.info-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #F2CA52;
    color: #005f73;
    font-weight: bold;
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    justify-content: center;
}

.info-item:hover {
    transform: translateY(-5px);
    background-color: #F2CA52;
}

.icons {
    width: 40px;
    height: 40px;
}

.toggle-button {
    padding: 0.3rem 0.8rem;
    background-color: #04B2D9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #00b3e6;
}

/* Contêiner das listas */
.list-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    margin-top: 1rem;
}

.list-container.visible {
    max-height: 500px;
    opacity: 1;
}

/* listas lado a lado em telas grandes */
.list-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
}

.list-container ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.8rem;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem;
    border-left: 4px solid #00b3e6;
    color: #1d3a5f;
    transition: transform 0.3s ease, background-color 0.3s ease;
    justify-content: center;
}

ul li:hover {
    transform: translateX(10px);
    background-color: rgba(0, 179, 230, 0.1);
    border-left-color: #ffca28;
}

/* seção diferenciais */
.diferenciais {
    background-color: #F28749;
    color: #fff;
    padding: 4rem 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    margin: 3rem auto;
    max-width: 1200px;
    transition: all 0.3s ease-in-out;
}

.diferenciais:hover {
    transform: scale(1.02);

}

.main-n2 h2 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: #f0f0f0;
}

/* listas */
.main-n2 .box-diferenciais {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    flex-wrap: wrap;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    flex: 1;
    max-width: 500px;
}

.box-diferenciais ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.8rem;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem;
    border-left: 4px solid #00b3e6;
    transition: transform 0.3s ease, background-color 0.3s ease;
    color: #fff;
}

ul li:hover {
    transform: translateX(10px);
    background-color: rgba(0, 179, 230, 0.1);
    border-left-color: #ffca28;
}

ul li img {
    width: 35px;
    height: 35px;
}

/* parceiros esportivos */
#esportes {
    text-align: center;
    margin-top: 3rem;
}

#esportes h3 {
    font-size: 2rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.parceiros {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.parceiros img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.parceiros img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* seção de matrículas */
.matriculas {
    background-color: #F2CA52;
    padding: 3rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 1200px;
    overflow: hidden;
}

.matriculas:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

/* carrossel para telas pequenas */
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 1rem 0;
}

.matricula-item {
    min-width: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    flex: 0 0 auto;
    max-width: 100%;
}

.carousel::-webkit-scrollbar {
    height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
    background-color: #00b3e6;
    border-radius: 4px;
}

.carousel::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}

.matricula-item {
    min-width: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    flex: 0 0 auto;
}

.matricula-item:hover {
    transform: translateY(-5px);
}

.matricula-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.matricula-item p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #102847;
    margin-bottom: 0.5rem;
}

.matricula-item span {
    font-size: 1.5rem;
    color: #00b3e6;
    font-weight: bold;
}

.carousel::-webkit-scrollbar {
    height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
    background-color: #00b3e6;
    border-radius: 4px;
}

.carousel::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}

/* rodapé */
.footer {
    background-color: #00b3e6;
    color: #f0f0f0;
    padding: 3rem 2rem;
    text-align: center;
    width: 100%;
    border-top: 5px solid #f4f4f4;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
}

.footer p {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

#backToTop {
    position: fixed;
    justify-content: end;
    top: 20px;
    left: 20px;
    display: none;
    background-color: #00b3e6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1000;
}

#backToTop:hover {
    background-color: #005f73;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {

    .footer {
        padding: 2rem 1rem;
        text-align: center;
    }

    .footer p {
        font-size: 1.3rem;
    }

    .cta-button {
        padding: 0.8rem 2rem;
        font-size: 1rem;
    }

    #backToTop {
        top: 10px;
        left: 10px;
        padding: 8px;
        font-size: 0.9rem;
    }

    .matriculas {
        padding: 2rem 1rem;
        margin: 1.5rem auto;
    }

    .matricula-item {
        min-width: 200px;
        padding: 1.5rem;
    }

    .matricula-item p {
        font-size: 1rem;
    }

    .matricula-item span {
        font-size: 1.2rem;
    }

    #carousel-container {
        height: 40vh;
    }

    .carousel-control {
        font-size: 1.5rem;
    }

    #carousel-indicators {
        gap: 0.3rem;
        /* espaço entre os indicadores */
    }

    #carousel-indicators .dot {
        width: 10px;
        height: 10px;
        /* reuz o tamanho dos pontos */
    }

    /* controles de Navegação */
    .carousel-control {
        padding: 0.8rem;
        /* reduz o tamanho dos controles */
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2rem;
    }

    .parceiros {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .parceiros img {
        width: 120px;
        height: auto;
    }

    #esportes h3 {
        font-size: 1.6rem;
    }

    .info-item {
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        text-align: center;
    }

    .icons {
        width: 30px;
        height: 30px;
    }

    #inicial {
        padding: 2rem 1rem;
        flex-direction: column;
        gap: 1.5rem;
    }

    #titulo {
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }

    #titulo h1 {
        font-size: 2rem;
    }

    #titulo h3 {
        font-size: 1.2rem;
    }

    .info-content {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        text-align: center;
    }

    .info-content img {
        width: 70%;
        max-width: 100%;
    }

    .info-content .info-text h2 {
        font-size: 2rem;
    }

    .info-content .info-text p {
        font-size: 1rem;
    }

    .list-container {
        flex-direction: column;
        /* Empilha as listas */
        align-items: center;
        gap: 1.5rem;

    }

    .list-container ul {
        width: 100%;
    }

    .dropdown-menu {
        position: static;
        width: 100%;
        box-shadow: none;
    }

    .dropdown-menu li {
        padding: 0.5rem 1rem;
    }

    #nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #04B2D9;
        width: 100%;
        padding: 1rem 0;
    }

    #nav-list.active {
        display: flex;
        /* Mostra o menu quando ativo */
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        cursor: pointer;
    }

    .menu-toggle .bar {
        height: 3px;
        width: 100%;
        background-color: #fff;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    #navbar {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {

    /* Ajuste do Padding da Seção Inicial */
    #inicial {
        padding: 1.5rem 1rem;
    }

    #titulo h1 {
        font-size: 1.8rem;
    }

    #titulo h3 {
        font-size: 1rem;
    }

    #carousel-container {
        height: 30vh;
    }

    .carousel-control {
        padding: 0.5rem;
        font-size: 1rem;
    }

    #carousel-indicators .dot {
        width: 8px;
        height: 8px;
    }

    .cta-button {
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
    }

    .footer p {
        font-size: 1.2rem;
    }
    .matricula-item {
        min-width: 180px;
        padding: 1rem;
    }

    .matricula-item p {
        font-size: 0.9rem;
    }

    .matricula-item span {
        font-size: 1rem;
    }
}

.links-container {
    display: flex;
    gap: 10px;
}

.button-link {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.button-link:hover {
    background-color: #1caa50
}